/* Write your CSS here */
.bg {
  background-color: #ffc2a0;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  font-family: Roboto;
  padding: 15%;
}

.heading {
  color: #ff8542;
  text-align: center;
}
